 /* ---Main Hero Image--- */
 
 #hero-rooms {
    background: url(../images/mob_rm_hero-01.jpg) no-repeat;
    height: 200px;
 }
 
 /* ---Card--- */
#hero-summary{
   align-items: center;
}

.card-wrapper {
   background-color: #fff;
   display: flex;
   flex-direction: column;
   border-radius: 5px;
   box-shadow: 0 4px 4px -2px #9a9999;
   width: 380px;
   height: 190px;
   margin-bottom: 20px;
}

.room-image {
   width: 380px;
   height: 160px;
   border-radius: 5px 5px 0 0;
}

.card-details{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 0 15px 0 15px;
}

.shrink-text {
   color: #B6B6B6;
}

#hero-summary p {
    font-size: 14px;
    line-height: 22px;
 } 
 
 /* ---Room benefits--- */

#details-con{
   margin-bottom: 30px;
}

 summary {
   background-color: #efefef;
   padding: 10px;
   font-size: 20px;
}
 details p {
   border-bottom: 1px solid #505050;
   padding: 6px;
   font-size: 14px;
 }
 
 /* ---Contact--- */
 
 #contact-hero-con {
    background: url(../images/mob_rm_sect-01.jpg) no-repeat;
    height: 195px;
 }
 
 #contact-hero-heading-box {
    align-self: end;
 }
 
 #contact-hero-text {
    margin-top: 15px;
    margin-bottom: 25px;
 }
 
 #contact-hero-address p {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 22px;
 }
 
 #contact-hero-address {
    margin-bottom: 30px;
 }
 
 #contact-hero-address h3 {
    margin-bottom: 25px;
 }
 
 #contact-hero-form form {
   display: flex;
   flex-direction: column;
   margin-bottom: 40px;
}

#contact-hero-form  input[type="text"],textarea {
   padding: 20px;
   border: 2px solid #d6d6d6d6;
   background-color: #f7f7f7;
   border-radius: 5px;
   margin-bottom: 30px;
   font: inherit;
   width: auto;
} 

#contact-hero-form textarea {
   height: 250px;
}

 .notify-checkbox{
   display: flex;
   flex-direction: row;
   font-size: 14px;
 }

 .notify-checkbox input[type="checkbox"]{
   margin-top: 2px;
 }

.notify-checkbox > span {
   padding-left: 8px;
}

 input[type="checkbox"]:checked + span > .emoji::after {
   content: '🎉';
   animation: fadeIn 0.5s;
   padding-left: 5px;
 }

 @keyframes fadeIn {
   from {
       opacity: 0;
   }
   to {
       opacity: 1;
   }
}
 /* ---Stlye Button--- */

input.slide-hover-left-1 {
   font: inherit;
   margin: 30px 0 40px 0;
   border-radius: 5px;
   padding: 12px 28px;
   color: #fff;
   border: none;
   width: 150px;
   align-self: flex-end;
   background: #9a2018;
}

input.slide-hover-left-1 {
   border: 2px solid #B6B6B6;
   background-image: linear-gradient(135deg, #C54242, #4e085f);
   background-size: 0;
   transition: .8s;
   background-repeat: no-repeat;
}

input.slide-hover-left-1:hover {
   background-size: 100%;
   color: #fff;
}